@page "/googlesearch"
<h1>Google Search</h1>

<p>This place to make reconneisance queries via Google REST API</p>


<div class="form-group">
	<textarea class="form-control col-md-6" placeholder="Type your query"></textarea>
	<small class="form-text text-muted">Type text inside to be searched.</small>
</div>

<button class="btn btn-success" type="button">
	<span class="oi oi-magnifying-glass"></span> Search
</button>

@code {

}
