@page "/"

<h1>OSINT Client API Application</h1>

<div id="mystyle">
	<img src="/css/Resources/OSINT.jpg" alt="Simply Easy Learning">
</div>

<h3> Welcome to the application collecting data from search engines created within the BOT_21L subject.</h3>
<div>
	<label>This project was created by:</label>
	<ul>
		<li><label>Kamil Chrościcki,</label></li>
		<li><label>Filip Smejda</label></li>
	</ul>
</div>