@page "/info"
@inject DataServices.ITestCats cat;
@inject DataServices.IShodanSearch shodan;
@inject DataServices.IWaybackMachine machine;


<h1>Info Page</h1>
<h3>Endopints used:</h3>
<div>
	<ul>
		<li><label>Shodan Address:</label><label>@shodanAddress</label></li>
		<li><label>TestCats Address:</label><label>@testCatsAddress</label></li>
		<li><label>Wayback Machine Address:</label><label>@waybackMachineAddress</label></li>
		<li><label>Rocket Address:</label><label>@virusTotalAddress</label></li>
	</ul>
</div>

@code {
	string shodanAddress;
	string testCatsAddress;
	string waybackMachineAddress;
	string virusTotalAddress;

	protected override void OnInitialized()
	{
		base.OnInitialized();
		testCatsAddress = cat.GetBaseUrl();
		shodanAddress = shodan.GetBaseUrl();
		waybackMachineAddress = machine.GetBaseUrl();

		//virusTotalAddress = rocket.GetBaseUrl();

	}
}
