@page "/info"
@inject DataServices.ITestCats cat;
@inject DataServices.IShodanSearch shodan;
@inject DataServices.IWaybackMachine machine;
@inject DataServices.IVirusTotal virus;


<h1>Info Page</h1>
<h3>Endopints used:</h3>
<div>
	<ul>
		<li><label>Shodan Address: &nbsp;</label><label> @shodanAddress</label></li>
		<li><label>TestCats Address: &nbsp;</label><label> @testCatsAddress</label></li>
		<li><label>Wayback Machine Address: &nbsp;</label><label> @waybackMachineAddress</label></li>
		<li><label>VirusTotal Address: &nbsp;</label><label> @virusTotalAddress</label></li>
	</ul>
</div>

@code {
	string shodanAddress;
	string testCatsAddress;
	string waybackMachineAddress;
	string virusTotalAddress;

	protected override void OnInitialized()
	{
		base.OnInitialized();
		testCatsAddress = cat.GetBaseUrl();
		shodanAddress = shodan.GetBaseUrl();
		waybackMachineAddress = machine.GetBaseUrl();
		virusTotalAddress = virus.GetBaseUrl();
	}
}
