@page "/security"

<h1>SecurityTrails</h1>

<p>The SecurityTrails API allows you to programmatically access all IP, 
	DNS, WHOIS, and company related information that is available in the 
	SecurityTrails Web Platform and beyond. It is based on REST principles 
	and allows you to fetch data mainly using HTTP GET and POST methods. </p>

<div class="form-group">
	<textarea class="form-control col-md-6" placeholder="Type IP address e.x. 8.8.8.8" @bind-value="IpAddress" @bind-value:event="oninput"></textarea>
	<small class="form-text text-muted">After typing address IP use Seach button to proceed.</small>
</div>

<button class="btn btn-success" type="button" @onclick="BeginSearch">
	<span class="oi oi-magnifying-glass"></span> Search
</button>


@if (security == null)
{

}
else

{<h3>SecurityTrials query result</h3>
	<h4>ERROR: Page in maintance.</h4>

}

<button class="btn btn-primary" type="button" @onclick="SaveToTxt">
	<span class="oi oi-arrow-thick-bottom"></span> Save Result
</button>

@code {


}
