@page "/testcats"

<h1>Interesting facts about cats</h1>

<p>Daily dose of funny cat's curious!</p>


@if (cats == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Text</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var info in cats)
            {
                <tr>
                    <td>@info.Text</td>
                </tr>
            }
        </tbody>
    </table>
}
